@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
  }

  .section {
    width: 1120px;
    height: 600px;
    background: hsl(240, 78%, 98%);
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 60px 120px;
    margin-top: 60px;
  }

  .section::before {
    content: '';
    background: url('./images/bg-top.svg') no-repeat;
    position: absolute;
    top: -17%;
    right: -65px;
    width: 385px;
    height: 669px;
    transform: scale(.69);

  }

  .section::after {
    content: '';
    background: url('./images/bg-bottom.svg') no-repeat;
    position: absolute;
    bottom: -30px;
    left: -38px;
    width: 380px;
    height: 305px;
    transform: scale(0.8);
  }

  h1 {
    font-size: 24px;
    color: hsl(232, 13%, 33%);
  }

  .cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .container {
    color: hsl(233, 13%, 49%);
  }

  .card {
    width: 270px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 36px 24px;
    background: #fff;
    padding: 24px 24px;
    height: auto;
    position: relative;
    z-index: 1;
    box-shadow: 0px 1px 3px rgba(68, 68, 68, 0.2);
  }

  .card:hover {
    background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    transform: scale(1.1);
    z-index: 2;
  }

  .card>.card-heading {
    color: hsl(233, 13%, 49%);
  }

  .card>.card-amount {
    font-size: 42px;
    font-weight: 700;
    color: hsl(232, 13%, 33%);
    margin-top: 10px;
  }

  .card label {
    font-size: 24px;
    font-weight: 600;
    position: relative;
    top: -4px;
  }

  ul {
    width: 100%;
    padding-top: 30px;
  }

  ul>li {
    padding: 12px;
    list-style: none;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    color: hsl(233, 13%, 49%);
    border-top: 1px solid hsl(234, 14%, 74%);
  }

  ul>li:last-child {
    border-bottom: 1px solid hsl(234, 14%, 74%);
  }

  .btn-primary {
    background-image: linear-gradient(to bottom right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    border: none;
    outline: none;
    border-radius: 4px;
    width: 100%;
    padding: 12px;
    margin-top: 29px;
    color: #fff;
    font-weight: 700;
  }

  .card:hover .btn-primary {
    background: #fff;
    color: hsl(233, 13%, 49%);
  }

  .card:hover .card-heading,
  .card:hover>.card-amount,
  .card:hover ul li {
    color: #fff;
  }

  .card:hover ul li:last-child {
    border-bottom: 1px solid hsl(234, 14%, 74%);
  }

  .switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
  }

  .switch input {
    display: none;
  }

  .slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }

  .slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
  }

  input:checked+.slider {
    background-color: hsl(237, 63%, 64%);
  }

  input:checked+.slider:before {
    transform: translateX(26px);
  }

  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }

  /* general styling */
  html,
  body {
    height: 100%;
    margin: 0;
  }

  body {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #f1f2f3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .container {
    margin: 0 auto;
  }
  /* mobile view */
  @media only screen and (max-width: 375px) {
    .section {
      width: auto;
      height: auto;
      padding: 12px;
      margin-top: 0px;
    }

    .section::before {
      top: -15%;
      right: -129px;
      width: 385px;
      height: 669px;
      transform: scale(.4);
    }

    .section::after {

      bottom: -60px;
      left: -77px;
      width: 380px;
      height: 305px;
      transform: scale(0.6);

    }

    h1 {
      margin-top: 30px;
    }

    .cards-container {
      margin-top: 100px;
    }

    .card {
      margin-bottom: 30px;
    }

  }